@import "tailwindcss";

:root {
    --background: #071926;
    --background-lighter: #98a5ae;
    --foreground: #171717;
    --contrasted: #ffffff;
    --component-color: #6a7282;
    --go-color: #008236;
    --danger-color: #c51919;
    --nav-height: 4rem;
    --nav-shadow: 0 0px 2px rgba(0, 0, 0, 0.33);
    --tile-shadow: 1px 2px 2px rgba(0, 0, 0, 0.33);
    --button-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    --gutter: 1rem;
    --gutter-md: 4rem;
    --carousel-img-w: min(50vw, 350px);
    --carousel-img-gap: calc(var(--carousel-img-w) / 4);
    --carousel-width: min(100vw, 700px);
}

@theme inline {
    --color-background: var(--background);
    --color-background-lighter: var(--background-lighter);
    --color-foreground: var(--foreground);
    --color-contrasted: var(--contrasted);
    --color-component-color: var(--component-color);
    --color-go-color: var(--go-color);
    --color-danger-color: var(--danger-color);
    --height-nav-height: var(--nav-height);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-lexend-exa), Arial, Helvetica, sans-serif;
}

.stroked-path {
    path {
        stroke-width: 50px;
    }
}
