@import "tailwindcss";

:root {
    --background: #071926;
    --background-lighter: #98a5ae;
    --background-lightest: #e1e7eb;
    --foreground: #171717;
    --contrasted: #ffffff;
    --component-color: #6a7282;
    --go-color: #008236;
    --danger-color: #c51919;
    --nav-height: 4rem;
    --nav-shadow: 0 0px 2px rgba(0, 0, 0, 0.33);
    --tile-shadow: 1px 2px 2px rgba(0, 0, 0, 0.33);
    --button-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    --gutter-sm: 0.5rem;
    --gutter: 1rem;
    --gutter-md: 4rem;
    --carousel-img-w: min(50vw, 350px);
    --carousel-img-gap: calc(var(--carousel-img-w) / 4);
    --carousel-width: min(100vw, 700px);
    --searchbar-height: 2.5rem;
}

@theme inline {
    --color-background: var(--background);
    --color-background-lighter: var(--background-lighter);
    --color-background-lightest: var(--background-lightest);
    --color-foreground: var(--foreground);
    --color-contrasted: var(--contrasted);
    --color-component-color: var(--component-color);
    --color-go-color: var(--go-color);
    --color-danger-color: var(--danger-color);
    --height-nav-height: var(--nav-height);
    --height-searchbar-height: var(--searchbar-height);
    --text-sz-heading: 1.75rem;
    --text-sz-heading-lg: 2.25rem;
    --text-sz-subheading: 1rem;
    --text-sz-subheading-lg: 1.5rem;
    --text-sz-base: 0.875rem;
    --text-sz-base-lg: 1rem;
    --text-sz-label-button: 0.75rem;
    --text-sz-label-button-lg: 0.875rem;
    --text-sz-smallest: 0.75rem;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-lexend-exa), Arial, Helvetica, sans-serif;
}

.stroked-path {
    path {
        stroke-width: 50px;
    }
}

.extra-stroked {
    path {
        stroke-width: 75px;
    }
}

@keyframes skeletonSweep {
    100% {
        translate: 100%;
    }
}

@keyframes loadingSequence {
    0% {
        background-color: var(--component-color);
    }

    25% {
        background-color: transparent;
    }

    75% {
        background-color: transparent;
    }

    100% {
        background-color: var(--component-color);
    }
}

.loading-circle:nth-child(1) {
    animation-delay: -0.4s;
}

.loading-circle:nth-child(2) {
    animation-delay: -0.3s;
}

.loading-circle:nth-child(3) {
    animation-delay: -0.2s;
}

.loading-circle:nth-child(4) {
    animation-delay: -0.1s;
}

.loading-circle:nth-child(5) {
    animation-delay: 0s;
}
