@import "tailwindcss";

:root {
    --background: #071926;
    --foreground: #171717;
    --contrasted: #ffffff;
    --nav-shadow: 0 0px 2px rgba(0, 0, 0, 0.33);
    --gutter: 1rem;
    --carousel-img-w: min(50vw, 350px);
    --carousel-img-gap: calc(var(--carousel-img-w) / 4);
    --carousel-width: min(100vw, 700px);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-contrasted: var(--contrasted);
    --font-sans: var(--font-lexend-exa);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
